<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/findId.css" />
  </head>
  <body>

    <div class="container">
      <div class="containerDiv">아이디 찾기</div>
      <div>
        <input id="phone" type="text" name="phone" placeholder="휴대전화번호를 입력하세요. ('-' 제외)" />
      </div>
      <div class="resultId"></div>
      <div>
        <button class="findId">아이디 찾기</button>
      </div>
      <div>
        <a href="/main">로그인</a>
      </div>
    </div>

  </body>

  <script src="/js/findId.js"></script>
</html>
