<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  
  <div class="login-container">

      <div class="login-title">로그인</div>
      <input type="text" class="input-box" id="id" name="id" placeholder="아이디" value="">
      <input type="password" class="input-box" id="password" name="pass" placeholder="비밀번호" value="">
      <button class="login-btn" type="submit" disabled>로그인</button>

      <div class="links">
        <a href="/findId">아이디 찾기</a>
        <a href="/findPw">비밀번호 찾기</a>
        <a href="/join">회원가입</a>
      </div>

    

  </div>
  
</body>


<script src="/js/main.js"></script>
</html>